{
        admin off
        auto_https off
        log {
                level WARN
        }
        servers {
                trusted_proxies static private_ranges
        }
}

:3004 {
        route * {
                docker_api_auth example/acl.yml
                reverse_proxy unix//var/run/docker.sock
        }
}
